.button {
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    display: block;
    cursor: pointer;
    outline: none;
}

.button:hover {
    color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(255, 255, 255, .7);
}

.button:active {
    color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .5);
}
