.profile {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.profile__user-info {
    display: flex;
    position: relative;
    align-items: flex-start;
    color: white;
    width: 100%;
}

.profile__photo {
    width: 150px;
    height: 150px;
    min-width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: opacity .1s ease;
}

.profile__photo:hover {
    opacity: .7;
}

.profile__data {
    max-width: 364px;
    margin-left: 36px;
}

.profile__name {
    margin: 0;
    font-weight: normal;
    font-size: 54px;
    line-height: 56px;
}

.profile__job {
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 25px;
}

.profile__edit {
    width: 38px;
    height: 18px;
    margin: 24px 0 0 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 1px solid white;
}

.profile__button {
    position: absolute;
    top: 16px;
    right: 0;
}


@media screen and (max-width: 980px) {
    .profile__user-info {
        flex-direction: column;
        align-items: center;
    }

    .profile__photo {
        margin-top: 40px;
    }

    .profile__data {
        margin: 20px 0;
        text-align: center;
    }

    .profile__button {
        position: static;
        margin-bottom: 40px;
    }
}
