.place-card {
    width: 282px;
    background-color: #fff;
    border-radius: 10px;
    min-height: 360px;
}

.place-card__image {
    height: 282px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    background-image: url('./../../images/avatar.jpg');
}

.place-card__image::after {
    content: '';
    display: block;
    width: 282px;
    height: 282px;
    background-color: rgba(0, 0, 0, .3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.place-card__delete-icon {
    background: transparent url('./../../images/trash-icon.svg') no-repeat center;
    border: none;
    width: 18px;
    height: 20px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    display: none;
}

.place-card__delete-icon_enable {
    display: block;
}

.place-card__description {
    display: flex;
    min-height: 78px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 22px;
}

.place-card__name {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
}

.place-card__like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.place-card__like-icon {
    background: transparent url('./../../images/like-inactive.svg') no-repeat center;
    border: none;
    width: 21px;
    height: 19px;
    cursor: pointer;
    transition: transform .2s linear;
    outline: none;
}

.place-card__like-icon_liked {
    background-image: url('./../../images/like-active.svg');
}

.place-card__like-icon:hover {
    transform: scale(1.1);
}

.place-card__number-likes {
    margin: 3px 0 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}
